@import '../index.scss';

.add_room{
    display: flex;
    width: 100%;
    height: auto;
    min-height: 1000px;
    background: $mobi-purple;
    flex-direction: column;
    align-items: center;
    color: $primary-color;

    h2{
        margin-top: 80px;
    }

    .add_room_form{
        overflow: auto;

        select{
            min-width: 230px;
            border-radius: 5px;
            align-self: center;
            font-size: 18px;
        }

        ::-webkit-input-placeholder{
            font-size: 15px;
            padding-left: 4px;
        }

        .room_label{
            display: flex;
            flex-direction: column;

            label{
                font-size: 20px;
                align-self: center;
                min-width: 230px;
                margin-top: 8px;
            }

            
            input{
                font-size: 18px;
                width: 230px;
                align-self: center;
                border-radius: 5px;
            }

        }

        .location{
            display: flex;
            flex-direction: column;

            label{
                font-size: 20px;
                align-self: center;
                min-width: 230px;
                margin-top: 8px;
            }

            
            input{
                font-size: 18px;
                width: 230px;
                align-self: center;
                border-radius: 5px;
            }
        }

        .number_of_people{
            display: flex;
            flex-direction: column;

            label{
                font-size: 20px;
                align-self: center;
                min-width: 230px;
                margin-top: 8px;
            }

            
            input{
                font-size: 18px;
                width: 230px;
                align-self: center;
                border-radius: 5px;
            }
        }

        .availability{
            display: flex;
            flex-direction: column;

            label{
                font-size: 20px;
                align-self: center;
                min-width: 230px;
                margin-top: 8px;
            }
        }

        .add_room_submit{
            display: flex;
            margin-top: 10px;
            justify-content: center;

            input[type="submit"]{
                min-width: 200px;
                font-size: 20px;
                background: $mobi-blue;
                color: $primary-color;
                padding: 4px;
                border-radius: 5px;
            }
        }

        .default{
            display: none;
            margin-top: 20px;
            padding: 20px;
            font-weight: bold;
            border-radius: 5px;
            text-align: center;
        }

        .warning{
            text-align: center;
            width: 100%;
            color: #e6ac00;
            background: #ffff99;
            transition: opacity 0.1s;
            opacity: 1;
            position: fixed;
            bottom: 0;
            left: 0;
            font-size: 20px;
            font-weight: bold;
            padding: 10px;
            border-left: solid 10px #e6ac00;
        }

        .errors{
            text-align: center;
            width: 100%;
            color: #b30000;
            background: #ff9999;
            transition: opacity 0.1s;
            opacity: 1;
            position: fixed;
            bottom: 0;
            left: 0;
            font-size: 20px;
            padding: 10px;
            font-weight: bold;
            border-left: solid 10px #b30000;
        }

        .done{
            text-align: center;
            width: 100%;
            color: #00b300;
            background: #66ff66;
            transition: opacity 0.1s;
            opacity: 1;
            position: fixed;
            bottom: 0;
            left: 0;
            font-size: 20px;
            padding: 10px;
            font-weight: bold;
            border-left: solid 10px #00b300;
        }
    }
}

@media only screen and (min-width: 700px){
    .add_room{

        h2{
            margin-top: 100px;
        }
        .add_room_form{
            width: 100%;
            margin-top: 20px;
            text-align: center;

            .errors{
                display: inline-block;
                min-width: 400px;
                align-self: center;
            }

            
            .done{
                display: inline-block;
                min-width: 400px;
                align-self: center;
            }

            .room_label{
                flex-direction: row;
                justify-content: center;

                label{
                    text-align: right;
                    margin: 0 10px 0 0;
                    min-width: auto;
                }
            }

            .location{
                flex-direction: row;
                justify-content: center;
                margin-top: 20px;

                label{
                    text-align: right;
                    margin: 0 10px 0 0;
                    min-width: auto;
                }
            }

            .number_of_people{
                flex-direction: row;
                justify-content: center;
                margin-top: 20px;

                label{
                    text-align: right;
                    margin: 0 10px 0 0;
                    min-width: 85px;
                }

                input{
                    margin-right: 8px;
                }
            }

            .availability{
                flex-direction: row;
                justify-content: center;
                margin-top: 20px;

                label{
                    text-align: right;
                    margin: 0 10px 0 0;
                    min-width: 85px;
                }

                select{
                    margin-right: 10px;
                }
            }

            .add_room_submit{
                margin-top: 40px;
            }
        }
    }
}