@import '../index.scss';

.user_form_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    color: $primary-color;
    height: auto;
    background: $mobi-purple;

    h2{
        margin-top: 80px;
    }

    .star{
        color: red
    }

    .user_form{
        height: auto;
        width: 100%;

        ::placeholder{
            font-size: 15px;
            padding-left: 5px;
        }

        label{
            margin-top: 8px;
        }

        .user_name{
            display: flex;
            flex-direction: column;
            align-items: center;

            label{
                min-width: 220px;
                font-size: 20px;
                text-align: left;
            }
            input{
                border-radius: 5px;
                max-width: 220px;
                font-size: 18px;
            }
        }

        .password{
            display: flex;
            flex-direction: column;
            align-items: center;

            label{
                min-width: 220px;
                font-size: 20px;
                text-align: left;
            }
            input{
                border-radius: 5px;
                max-width: 220px;
                font-size: 18px;
            }
        }

        .r_password{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            label{
                min-width: 220px;
                font-size: 20px;
                text-align: left;
            }
            input{
                border-radius: 5px;
                max-width: 220px;
                font-size: 18px;
            }
        }

        .name{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            label{
                min-width: 220px;
                font-size: 20px;
                text-align: left;
            }
            input{
                border-radius: 5px;
                max-width: 220px;
                font-size: 18px;
            }
        }

        .surname{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            label{
                min-width: 220px;
                font-size: 20px;
                text-align: left;
            }
            input{
                border-radius: 5px;
                max-width: 220px;
                font-size: 18px;
            }
        }

        .email{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            label{
                min-width: 220px;
                font-size: 20px;
                text-align: left;
            }
            input{
                border-radius: 5px;
                max-width: 220px;
                font-size: 18px;
            }
        }

        .permissions{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            label{
                min-width: 220px;
                font-size: 20px;
                text-align: left;
            }
            select{
                border-radius: 5px;
                min-width: 220px;
                font-size: 18px;
            }
        }

        .add_user_submit{
            display: flex;
            flex-direction: column;
            align-items: center;
    
            input[type="submit"]{
                border-radius: 5px;
                min-width: 180px;
                margin-top: 20px;
                padding: 4px;
                background: $mobi-blue;
                color: $primary-color;
                font-size: 18px;
            }
        }
    }

    .wrong{
        background: red;
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
        max-width: 250px;
        border-radius: 5px;
        padding: 5px;
    }

    .done{
        background: green;
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
        max-width: 250px;
        border-radius: 5px;
        padding: 5px;
    }

    .default{
        display: none;
    }
}

@media only screen and (min-width: 700px){
  
}