@import '../index.scss';

.logout{
    position: fixed;
    background: $primary-color;
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 10%;
    justify-content: center;
    -webkit-box-shadow: 0px -28px 31px 20px rgba(20,17,20,1);
    -moz-box-shadow: 0px -28px 31px 20px rgba(20,17,20,1);
    box-shadow: 0px -28px 31px 20px rgba(20,17,20,1);

    .btn_logout{
        width: 150px;
        padding: 8px 16px 8px 8px;
        align-self: flex-end;
        border: none;
        color: $mobi-blue;
        background: #fff;
        font-size: 28px;
        cursor: pointer;
        text-align: right;
    }
}