@import '../index.scss';

.reserv_div{
    display: flex;
    flex-direction: column;
    background: $mobi-purple;
    width: 100%;
    min-height: 800px;
    height: auto;
    overflow: auto;
    text-align: center;
    color: $primary-color;
    overflow: auto;

    h2{
        margin-top: 80px;
    }

    .calendar_label{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;

        label{
            display: inline-block;
            width: 220px;
            text-align: left;
            font-size: 20px;
            align-self: center;
        }

        input{
            width: 220px;
            font-size: 18px;
            border-radius: 5px;
        }
    }

    .room_size_label{
        display: flex;
        flex-direction: column;

        label{
            width: 220px;
            text-align: left;
            font-size: 20px;
            align-self: center;
        }

        input{
            width: 220px;
            font-size: 18px;
            border-radius: 5px;
            align-self: center;
        }
    }

    .equip_parts{
        .equip_partsv2{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            label{
                display: inline-block;
                line-height: 45px;
                font-size: 20px;
            }

            input[type="checkbox"]{
                position: relative;
                top: 3px;
                display: inline-block;
                margin: 0 0 0 10px;
            }
        }
    }

    .select_room{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin-top: 10px;

        label{
            font-size: 20px;
            min-width: 220px;
            text-align: left;
            align-self: center;
            font-size: 20px;
        }

        select{
            max-width: 220px;
            align-self: center;
            border-radius: 5px;
            font-size: 18px;
        }
    }

    .meeting_title{
        display: flex;
        flex-direction: column;

        label{
            font-size: 20px;
            min-width: 220px;
            text-align: left;
            align-self: center;
        }

        input{
            width: 220px;
            font-size: 18px;
            border-radius: 5px;
            align-self: center;
        }
    }

    .status{
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        label{
            min-width: 220px;
            text-align: left;
            align-self: center;
            font-size: 20px;
        }

        select{
            min-width: 220px;
            align-self: center;
            font-size: 18px;
            border-radius: 5px;
        }
    }

    .cyclic{
        display: flex;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;

        label{
            font-size: 20px;
        }

        input[type="checkbox"]{
            margin: 0 0 0 10px;
            align-self: center;
            position: relative;
            top: 3px;
        }
    }

    .none{
        opacity: 0;
        select{
            min-width: 220px;
            margin-top: 15px;
            border-radius: 5px;
            font-size: 18px;
        }
    }

    .isVisible{
        opacity: 1;
        select{
            min-width: 220px;
            margin-top: 15px;
            border-radius: 5px;
            font-size: 18px;
        }
    }

    .users_div{
        margin-top: 40px;
        display: flex;
        flex-flow: column;
        justify-content: center;

        .users{
            background: $primary-color;
            color: #222;
            min-width: 250px;
            align-self: center;
            height: 200px;
            overflow: auto;
            border-radius: 5px;
            z-index: 900;
            cursor: pointer;

            .origin{
                border-bottom: 0.2px solid #222;
                min-height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .focused{
                border-bottom: 0.2px solid #222;
                min-height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $mobi-blue;
                color: #fff;
                font-weight: bold;
            }
        }

        .arrows{
            font-size: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: rotate(90deg);

            .svg-inline--fa{
               margin: 3px;
               cursor: pointer;
            }
        }
    }

    .reserv_submit{
        display: flex;
        margin-top: 40px;
        justify-content: center;

        input[type="submit"]{
            min-width: 180px;
            font-size: 19px;
            border-radius: 5px;
            background: $mobi-blue;
            color: $primary-color;
            padding: 4px;
            z-index: 900;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (min-width: 720px){
    .reserv_div{
        .calendar_label{
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            justify-content: center;

            label{
                display: inline-block;
                text-align: right;
                width: 145px;
                padding-right: 20px;
            }
            input{
                padding-left: 5px;
            }
        }

        .room_size_label{
            flex-direction: row;
            justify-content: center;

            label{
                width: 160px;
            }

            input{
                margin-right: 13px;
            }
        }

        .select_room{
            flex-direction: row;
            justify-content: center;

            label{
                min-width: 145px;
                text-align: right;
                padding-right: 20px;
            }

            select{
                max-width: 220px;
            }
        }

        .meeting_title{
            flex-direction: row;
            justify-content: center;

            label{
                min-width: 145px;
            }
        }

        .status{
            flex-direction: row;
            justify-content: center;

            label{
                min-width: 145px;
                text-align: right;
                padding-right: 20px;
            }
        }

        .users_div{
            flex-direction: row;

            .users{
                margin: 0 10px 0 10px;
            }

            .arrows{
                flex-direction: row;
                transform: rotate(180deg);
            }
        }
    }
}