@import '../index.scss';

    .box{
        width: 100%;
        background: $mobi-purple;
        min-height: 900px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: $primary-color;
        overflow: auto;

        .addUser{
            margin-top: 80px;
            background: $mobi-blue;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
            margin-left: 20px;
        }
        
        .sort{
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 20px;
            padding: 5px;

            .svg-inline--fa{
                font-size: 28px;
                cursor: pointer;
            }

            span{
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        h3{
            margin-left: 20px;
            margin-top: 80px;
        }

        .room_headers{
            margin-left: 20px;
            display: grid;
            grid-template-columns: 100px 200px 200px 130px 200px 300px;

            p{
                margin: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;
                padding: 10px;
                font-weight: bold;
            }
            .hidden{
                display: none;
            }
        }

        .room_box{
            display: grid;
            grid-template-columns: 100px 200px 200px 130px 200px  300px;
            margin-left: 20px;

            .btn{
                background: $mobi-blue;
                color: $primary-color;
                padding: 8px;
                border: none;
                border-radius: 5px;
                margin-right: 8px;
                cursor: pointer;
            }

            .hidden{
                display: none;
            }

            p{
                min-width: 100px;
                display: inline-flex;
                margin: 0;
                min-height: 60px;
                border: 1px solid #fff;
                align-items: center;
                justify-content: center;
                padding: 10px;
            }

            .svg-inline--fa{
                margin: 8px;
                font-size: 20px;
                cursor: pointer;
            }
        }

    }

    @media only screen and (min-width: 1600px){
        .box{
            align-items: center;

            h3{
                margin-top: 40px;
            }
        }
    }