@import '../index.scss';

    .box{
        width: 100%;
        background: $mobi-purple;
        min-height: 900px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: $primary-color;
        overflow: auto;

        .addButton{
            background: $mobi-blue;
            border: none;
            padding: 20px;
            border-radius: 5px;
            color: $primary-color;
            margin-bottom: 15px;
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
            align-self: center;
        }

        .hide{
            display: none;
        }

        .table{
            background-color: $primary-color;
            border-radius: 5px;
            color: #222;
        }

        .test{

            .hidden{
                display: none;
            }

            .taken{
                text-align: center;
                width: 100%;
                color: #ff4000;
                background: #ff8c66;
                transition: opacity 0.1s;
                opacity: 1;
                position: fixed;
                bottom: 0;
                left: 0;
                font-size: 20px;
                padding: 5px;
                font-weight: bold;
                border-left: solid 10px #ff4000;
                z-index: 900;
            }

            .default{
                transition: opacity 0.1s;
                opacity: 0;
            }

            .showMe{
                position: fixed;
                background-color: rgba($color: #222, $alpha: 0.7);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 999999999;

                .info{
                    background: #aaa;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 150px;
                    border-radius: 5px;
                    box-shadow: 10px 10px 64px -2px rgba(0,0,0,0.75);

                    p{
                        font-size: 36px;
                    }

                    .decide{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;

                        span:first-child{
                            background: green;
                            padding: 15px;
                            border-radius: 10px;
                            width: 50px;
                        }

                        span:first-child:hover{
                            background: darkgreen;
                            padding: 15px;
                            border-radius: 10px;
                            width: 50px;
                        }

                        span:last-child{
                            background: red;
                            padding: 15px;
                            border-radius: 10px;
                            width: 50px;
                        }

                        
                        span:last-child:hover{
                            background: darkred;
                            padding: 15px;
                            border-radius: 10px;
                            width: 50px;
                        }
                        span{
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            margin: 18px;
                            cursor: pointer;
                            font-size: 20px;
                            min-width: 100px;
                        }
                    }
                }
                
            }

        }

        .sort{
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 20px;
            padding: 5px;

            .svg-inline--fa{
                font-size: 28px;
                cursor: pointer;
            }

            span{
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        h3{
            margin-left: 20px;
            margin-top: 80px;
        }

        .room_headers{
            margin-left: 20px;
            margin-right: 20px;
            display: grid;
            grid-template-columns: 100px 200px 200px 130px 200px 300px;

            p{
                margin: 0;
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;
                border: 1px solid #fff;
                padding: 5px;
                font-weight: bold;
            }
            .hidden{
                display: none;
            }
        }

        .room_box{
            display: grid;
            grid-template-columns: 100px 200px 200px 130px 200px  300px;
            margin-left: 20px;

            .btn{
                background: $mobi-blue;
                color: $primary-color;
                font-size: 15px;
                padding: 8px;
                border: none;
                border-radius: 5px;
                margin-right: 8px;
                cursor: pointer;
            }

            .hidden{
                display: none;
            }

            p{
                min-width: 100px;
                display: inline-flex;
                margin: 0;
                min-height: 60px;
                border-top: 2px solid #222;
                align-items: center;
                justify-content: flex-start;
                padding: 5px;
            }

            .svg-inline--fa{
                margin: 8px;
                font-size: 20px;
                cursor: pointer;
            }
        }

    }

    @media only screen and (min-width: 1600px){
        .box{
            align-items: center;

            h3{
                margin-top: 40px;
            }
        }
    }