@import '../index.scss';
.content{
    display: flex;
    min-height: 100%;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-content: center;
    background: $mobi-purple;

    .logo{
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center;

        img{
            height: 160px;
            width: 280px;
        }
    }

    .form{
        min-height: 600px;
        height: auto;
        background: $mobi-purple;
        align-content: center;
        text-align: center;

        .default{
            display: inline-block;
            text-align: center;
            width: 80%;
            background: red;
            max-width: 350px;
            padding: 20px;
            font-size: 16px;
            margin-top: 20px;
            color: $primary-color;
            border-radius: 5px;
            transition: opacity 0.2s;
            opacity: 0;
            -webkit-box-shadow: 10px 14px 98px -22px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 14px 98px -22px rgba(0,0,0,0.75);
            box-shadow: 10px 14px 98px -22px rgba(0,0,0,0.75);
        }

        .error{
            display: inline-block;
            text-align: center;
            width: 80%;
            background: red;
            max-width: 350px;
            padding: 20px;
            font-size: 16px;
            margin-top: 20px;
            color: $primary-color;
            border-radius: 5px;
            transition: opacity 0.2s;
            opacity: 1;
            -webkit-box-shadow: 10px 14px 98px -22px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 14px 98px -22px rgba(0,0,0,0.75);
            box-shadow: 10px 14px 98px -22px rgba(0,0,0,0.75);
        }

        .crudentials{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

            .crudentialsv2{
                display: flex;
                flex-direction: column;
                
                input{
                    font-size: 18px;
                    border-radius: 5px;
                    
                }
    
                label{
                    font-size: 20px;
                    color: $primary-color;
                    text-align: left;
                }
    
                ::-webkit-input-placeholder {
                    font-size: 14px !important;
                    padding-left: 5px;
                    }
                    
                    :-moz-placeholder {  
                    font-size: 16px !important;
                    }
                    
                    /*--for IE10 support--*/
                    :-ms-input-placeholder {
                    font-size: 16px !important;
                    }
            }
            }
    
        .submit{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

            input[type="submit"]{
                display: block;
                border-radius: 5px;
                background: $mobi-blue;
                min-width: 120px;
                color: $primary-color;
                padding: 8px;
            }
        }
    }
}

@media only screen and (min-width: 700px){
    .content{
        align-items: center;
        .form{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            //justify-content: center;

            label{
                min-width: 300px;
            }

            .default{
                position: absolute;
                top: 10px;
                right: 20px;
                transition: opacity 0.2s;
                opacity: 0;
            }

            .error{
                position: absolute;
                top: 10px;
                right: 20px;
                transition: opacity 0.2s;
                opacity: 1;
            }
        }
    }
}