@import '../../index.scss';

.last_reserv{
    display: flex;
    flex-direction: column;
    background: $primary-color;
    min-height: 200px;
    overflow: auto;
    color: #222;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    h3{
        flex-grow: 1;
        margin: 0;
    }

    .reserv_time{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        flex-grow: 8;
    }
}

@media only screen and (min-width: 768px){
    .last_reserv{
        margin-bottom: 30px;
    }
}
