@import '../../index.scss';

.meetings{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary-color;
    max-width: 250px;
    overflow: auto;
    color: #222;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;

    .svg-inline--fa{
        font-size: 30px;
    }

    .week{
        h5{
            font-size: 18px;
        }

        span{
            color: $mobi-blue;
            font-weight: bold;
            font-size: 18px;
        }
    }

    .month{
        h5{
            font-size: 18px;
        }

        span{
            color: $mobi-blue;
            font-weight: bold;
            font-size: 18px;
        }
    }
}

@media only screen and(min-width: 740px){
    .meetings{
        max-width: 400px;
        align-items: center;

        .whole{
            display: flex;
            
            .week{
                margin-right: 20px;
            }
        }
    }
}

@media only screen and(min-width: 1000px){
    .meetings{
        max-width: 300px;
        max-height: 400px;
        align-items: center;

        .whole{
            display: flex;
            
            .week{
                margin-right: 20px;
            }
        }
    }
}