@import '../../index.scss';

.reserv_stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary-color;
    overflow: auto;
    color: #222;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 30px;

    .svg-inline--fa{
        font-size: 30px;
    }

    .res_whole{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .reserv_this_week,  .reserv_previous_week{
        h5{
            font-size: 14px;
        }

        span{
            color: $mobi-blue;
            font-weight: bold;
            font-size: 18px;
        }
    }

    .reserv_this_month, .reserv_previous_month{
        h5{
            font-size: 14px;
        }

        span{
            color: $mobi-blue;
            font-weight: bold;
            font-size: 18px;
        }
    }
}

