@import '../../index.scss';

.today_meetings{
    background: $primary-color;
    overflow: auto;
    color: #222;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;

    .svg-inline--fa{
        font-size: 60px;
        opacity: 0.4;
    }

    .time{
        font-size: 18px;
        font-style: italic;
    }
}



