.content{
    width: 85%;
    height: 90%;
    background: #8d1be5;
    float: left;
}


.form{
    width: 80%;
    height: 85%;
    margin-top: 5%;
    text-align: center;
    margin-left: 3%;
}

.errors{
    font-size: 28px;
    padding-left: 30%;
    color: red;
    display: inline-block;
}

.done{
    display: block;
    color: green;
    font-size: 30px;
    font-family: Calibri;
    margin-left: 32%;
    margin-top: -2%;
}
