.content{
    width: 85%;
    height: 90%;
    background: #8d1be5;
    float: left;
}


.messeges{
    color: #222;
    background: #fff;
    border-radius: 5px;
    float: left;
    height: 35%;
    width: 25%;
    margin-top: 5%;
    margin-left: 5%;
    overflow: auto;
}

.meetings{
    color: #222;
    background: #fff;
    border-radius: 5px;
    float: left;
    height: 35%;
    width: 25%;
    margin-top: 5%;
    margin-left: 8%;
    overflow: auto;
}

.meetings p{
    text-align: center;
    font-size: 2vw;
    margin: 0;
    padding-top: 5%;
}


.meetings button{
    border: none;
    margin: 0;
    text-decoration: none;
    background: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 2.5vw;
    width: 100%;
    height: 100%;
    background: #00b7ce;
    border-radius: 5px;
    color: #fff;
    font-family: Calibri;
}

.meetings button:after{
    content: "";
    clear: both;
}

.rooms{
    color: #222;
    background: #fff;
    border-radius: 5px;
    float: left;
    height: 35%;
    width: 25%;
    margin-top: 5%;
    margin-left: 5%;
    overflow: auto;
}

.data{
    display: inline-block;
    width: 45%;
    height: 50%;
    margin-left: 5%;
}

.data p{
    font-size: 1vw;
    padding-top: 4%;
    margin: 0;
}

.data span{
    font-weight: bold;
    display: inline-block;
    color:  #00b7ce;
    padding-top: 5%;
}

.numbers{
    display: inline-block;
    width: 45%;
    height: 40%;
    margin-left: 5%;
}


.rooms p{
    padding-top: 1%;
}

.numbers p{
    font-size: 1vw;
    margin: 0;
    padding-top: 30%;
}

.numbers span{
    font-weight: bold;
    display: inline-block;
    color:  #00b7ce;
    padding-top: 10%;
    font-size: 3vw;
    padding-left: 20%;
}

.data-s{
    font-size: 20px;
    padding-left: 43%;
}

h3{
    padding-left: 5%;
    margin-bottom: 0;
    font-size: 1.2vw;
}
