#options{
    float: left;
    width: 85%;
    height: 10%;
    background: #fff;
}

#options button {
    border: none;
    margin: 0;
    text-decoration: none;
    background: #fff;
    color: #00b7ce;
    cursor: pointer;
    text-align: center;
    float: right;
    font-size: 24px;
    position: relative;
    top: 30%;
    right: 2%;
}
