nav{
    width: calc(15% - 2px);
    height: 100%;
    border-right: 2px solid #ddd;
    float: left;
}


nav img{
    width: 45%;
    margin-right: 3%;
    margin-left: 1%;
    display: inline-block;
}

nav h1{
    display: inline-block;
    width: 40%;
    font-size: 0.9vw;
    margin-top: 0;
    position: relative;
    top: 1%;
}
nav ul{
    font-size: 1.2vw;
    list-style-type: none;
}

.outside:before {content: "•"; color: #00b7ce;
    display: inline-block; width: 1em;
    margin-left: -1em}

nav ul li{
    margin-top: 10%;
}

